set timeout=0

loadfont unicode

set menu_color_normal=white/black
set menu_color_highlight=black/light-gray

menuentry "Auto-Install Ubuntu Server" {
    set gfxpayload=keep
    linux   /casper/vmlinuz  quiet autoinstall console=ttyS0,115200n8 ds=nocloud\;s=/cdrom/nocloud/ ---
    initrd  /casper/initrd
}