on:
  workflow_dispatch:
  pull_request:

name: "Review"
permissions: {}

jobs:
  shfmt:
    name: shfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: reviewdog/action-shfmt@v1
        with:
          token: ${{ secrets.REPO_ACCESS_TOKEN }}
